<hr>
<small>&copy; shop</small>

<div class="maincard">
    <h1 class="title">Contact Us</h1>
    <div class="homeBelowBox">
        <div class="card-body">
            <h3>E-shopping</h3>
            <div>
                <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button>
                <button type="button" mdbBtn color="gplus" class="waves-light" mdbWavesEffect><i class="fab fa-google-plus left"></i>Google
                    +</button>
            </div>
        </div>
        <!-- <div class="rightBox ">
            <img width="400" height="280" src="https://staticmapmaker.com/img/google@2x.png" class="image" />
        </div> -->
    </div>
</div>
